doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono&display=swap" rel='stylesheet')

  body
    //nav(class="navbar navbar-expand-lg")
      div(class="collapse navbar-collapse")
        ul(class="navbar-nav mr-auto")
          li(class="nav-item active")
            a(class="nav-link" href="#")="Home"
          li(class="nav-item")
            a(class="nav-link" href="#")="About Me"
    block content
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="/js/bootstrap.min.js")