html {
  scroll-behavior: smooth;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #001533;
}

.nav-btn {
  background-color: #001533;
  color: #42eb00;
  border-color:#42eb00;
  font-family: 'Montserrat', sans-serif;
  transition: 0.3s;
  font-size: 1rem;
  width: 200px;
}

.nav-btn:hover{
  background-color: #42eb00;
  color:#001533;
}

.nav-item{
  padding-left: 15px;
}

.title{
  color:#42eb00;
  font-family: 'Roboto Mono', monospace;
  font-size: 8rem;
  text-align: center;
}

.description{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size:1.5rem;
  color:white;
}

.footer-text{
  font-family: 'Montserrat', sans-serif;
  font-size:1rem;
  color:white;
  font-style: italic;
  font-weight: 0.1;
}

.full-height{
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
}

.section-header{
  color:#42eb00;
  font-family: 'Roboto Mono', monospace;
  font-size: 3rem;
}

.paragraph-text{
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.navbar-nav{
  align-items: center;
}

.tech-list{
  list-style-type: square;
}
.tech-item{
  color: #42eb00;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.1rem;
}

.table tr{
  border: none;
  border-top: hidden;
}

.table{
  table-layout: fixed;
  width: 30rem;
}