html {
  scroll-behavior: smooth;
  height: 100%;
  min-height: 100%;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #000000;
  height: 100%;
}
footer{
  padding-top:5px;
  background-color: black;
}

nav{
  background-color: black
}
.nav-btn {
  background-color: #000b1b;
  color: #33CBF4;
  border-color:#33CBF4;
  font-family: 'Montserrat', sans-serif;
  transition: 0.3s;
  font-size: 1rem;
  width: 200px;
}

.nav-btn:hover{
  background-color: #33CBF4;
  color:#000b1b;
}

.nav-item{
  padding-left: 15px;
}

.nav-container{
  background-color: #001533;
  
}

.title{
  color:#33CBF4;
  font-family: 'Comfortaa', cursive;
  font-size: 8rem;
  text-align: center;
}

.description{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size:1.5rem;
  color:white;
}

.footer-text{
  font-family: 'Montserrat', sans-serif;
  font-size:1rem;
  color:white;
  font-style: italic;
  font-weight: 0.1;
}

.full-height{
  width: 100%;
  padding: 0 7%;
  display: table;
  margin: 0;
  max-width: none;
  height: 100vh;
}

.section-header{
  color:#33CBF4;
  font-family: 'Comfortaa', cursive;
  font-size: 3rem;
}

.paragraph-text{
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.paragraph-link{
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  color: #33CBF4;
  text-decoration: none;
  transition: 0.3s;
}

.paragraph-link:hover{
  color: #087491;
  text-decoration: none;
}

.tech-list{
  list-style-type: square;
}
.tech-item{
  color: #33CBF4;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.1rem;
}

.table tr{
  border: none;
  border-top: hidden;
}

.contact-table{
  table-layout: fixed;
  width: 30rem;
}

.card{
  background-color: black;
  border-color: #33CBF4;
}
.card-title{
  color: #33CBF4;
  font-family: 'Montserrat', sans-serif;
}

.card-text{
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: left;
}

.card-link{
  color: #33CBF4;
  font-family: 'Roboto Mono', monospace;
  transition: 0.3s;
}

.card-link:hover{
  color: #087491
}

#encryptedEmail, #linkedin{
  color:#33CBF4;
}

#encryptedEmail:hover, #linkedin:hover{
  color: #087491;
}

.link-container{
  float:left;
  clear:left;
  padding-bottom: 10px;
}

.navbar-toggler{
  background-color: #33CBF4;
}

.preload-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000b1b;
  z-index: 999999;
}

@media(max-width: 991px){
  .nav-item{
    padding-top: 5px;
  }
  .nav-btn{
    border-color: #000b1b;
    width: 100px;
  }
}

.contact-link img {
  width:50px;
  height: 50px;
  transition: 0.3s;
}

.contact-link img:hover {
  /*width:70px;
  height: 70px;
  margin-top: 0px;*/
  transform: scale(1.5);
}

.contact-table{
  text-align: center;
}

.tooltip-inner{
  color: #33CBF4;
  font-family: 'Roboto Mono', monospace;
  font-weight: 800;
}

.arrow{
  visibility: hidden;
}
.tooltip{
  padding-top:14px;
}

.list-group-item{
  background-color: transparent;
}

.contact-tooltip {
  display:inline-block;
}