div(class="card" style="width: 18rem;")
    div(class="card-body")
        h5(class="card-title")="IASIP Soundboard"
        p(class="card-text")="This is a discord bot that operates as a soundboard for quotes from 'It's Always Sunny in Philadelphia'."
        a(class="card-link" target="_blank" href="https://discord.com/api/oauth2/authorize?client_id=334873831636336640&permissions=3155968&scope=bot")="Invite this bot to your server!"
        br
        br
        a(class="card-link" target="_blank" href="https://github.com/ttse76/iasip-bot" style="padding-top:10px;")="View on GitHub"