div(class="card" style="width: 18rem;")
    div(class="card-body")
        h5(class="card-title")="This Site"
        p(class="card-text")="This site is fully open source. Technologies being used include Node, Express, Pug, and Bootstrap."
        a(class="card-link" target="_blank" href="https://github.com/ttse76/timothymtse" style="padding-top:10px;")="View on GitHub"
