div(id="about" class="full-height d-flex align-items-center")
    div(class="h-100 row align-items-center")
        div(class="col-lg-8 offset-lg-2")
            h2(class="section-header")=about[0]
            - for(var i = 1; i < about.length; i++)
                p(class="paragraph-text") !{about[i]}