div(id="contact" class="full-height d-flex align-items-center justify-content-center")
    div(class="h-100 row align-items-center")
        div(class="col-lg-8 offset-lg-2")
            h2(class="section-header")="Contact"
            p(class="paragraph-text")="Want to get in touch? You can find me at the following links:"
            ui(style="list-style=none;")
                li
                    span(id="crypted")
                li(style="padding-top:5px;")
                    a(id="linkedin" href="https://www.linkedin.com/in/timothy-tse-723269103/")="LinkedIn"