div(id="contact" class="full-height d-flex align-items-center")
    div(class="h-100 row align-items-center")
        div(class="col-lg-12 offset-lg-4")
            h2(class="section-header")="Contact"
            p(class="paragraph-text")="Want to get in touch? You can find me at the following links:"
            table(class="table contact-table")
                tbody
                    td(class="contact-item")
                        div(id="crypted")
                    td(class="contact-item")
                        a(class="contact-link" target="_blank" href="https://www.linkedin.com/in/timothy-tse-723269103/")
                            div(class="contact-tooltip" title="LinkedIn" data-toggle="tooltip" data-placement="bottom")
                                img(class="contact-img" src="/img/linkedin.png")
                    td(class="contact-item")
                        a(class="contact-link" target="_blank" href="https://github.com/ttse76")
                            div(class="contact-tooltip" title="GitHub" data-toggle="tooltip" data-placement="bottom")
                                img(class="contact-img" src="/img/github.png")