div(id="experience" class="full-height d-flex align-items-center")
    div(class="h-100 w-100 row align-items-center")
        div(class="container")
            div(class="row")
                div(class="col")
                    h2(class="section-header" style="padding-bottom:5px;")="Experience"