div(id="home" class="full-height d-flex align-items-center justify-content-center")
    div(class="row")
        div(class="col-lg-12")
            h1(class="title")="Timothy Tse"
            p(class="description")="Software Engineer based in northern New Jersey"