div(id="projects" class="full-height d-flex align-items-center")
    div(class="h-100 row align-items-center")
        div(class="col-lg-12 offset-lg-3")
            h2(class="section-header" style="padding-bottom:5px;")="Projects"
            div(class="card-deck")
                include ../projects/iasip.pug
                include ../projects/site.pug