div(id="projects" class="full-height d-flex align-items-center")
    div(class="h-100 row align-items-center")
        div(class="col-lg-12")
            h2(class="section-header" style="padding-bottom:5px;")="Projects"
            ul(class="list-group")
                each proj in projObj
                    li(class="list-group-item")
                        h5(class="card-title")=proj.title
                        p(class="card-text")=proj.description
                        each link in proj.links
                            div(class="link-container")
                                a(class="card-link" target="_blank" href=link[1])=link[0]
                                
