div(id="projects" class="full-height")
    div(class="h-100 row align-items-center")
        div(class="col-lg-8 offset-lg-2")
            h2(class="section-header" style="padding-bottom:5px;")="Projects"
            div(class="card-deck")
                include ../projects/iasip.pug
                include ../projects/site.pug